[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
api = {path = "."}
bandit = {extras = ["toml"], version = "*"}
fastapi = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
tomli = "*"
uvicorn = "*"

[dev-packages]


[requires]
python_version = "3.11"
